<h1>Listing catalogue_foods</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Unit energy</th>
      <th>Carbohydrate</th>
      <th>Protein</th>
      <th>Fat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catalogue_foods.each do |catalogue_food| %>
      <tr>
        <td><%= catalogue_food.description %></td>
        <td><%= catalogue_food.unit_energy %></td>
        <td><%= catalogue_food.carbohydrate %></td>
        <td><%= catalogue_food.protein %></td>
        <td><%= catalogue_food.fat %></td>
        <td><%= link_to 'Show', catalogue_food %></td>
        <td><%= link_to 'Edit', edit_catalogue_food_path(catalogue_food) %></td>
        <td><%= link_to 'Destroy', catalogue_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catalogue food', new_catalogue_food_path %>
